doctype 5
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width')
    title= title
  body
    #bgimage
    #content
      block content
    block script
