extends layout

block content
  h1= title
  #brews
    - each brew in brews
      include includes/brew-single

  script(src='/socket.io/socket.io.js')
  script
    function computeOpacity(time) {
      // returns diff in milliseconds
      var diff = moment().diff(moment(time));
      // scale according to how old; older than 2h gets minimum 10% opacity
      var maxAge = 1000 * 60 * 60 * 2;
      var ratio = (maxAge - diff) / maxAge;
      ratio = ratio < 0.0 ? 0.0 : ratio;
      return (0.8 * ratio) + 0.2;
    }
    $('.brew').each(function(idx, ele) {
      var unixTime = parseInt($(ele).data('created'));
      $(ele).css('opacity', computeOpacity(unixTime));
    });

    var socket = io.connect('');
    socket.on('news', function(data) {
      console.log(data);
    });
