extends layout

block content
  h1= title
  #brews
    - each brew in brews
      include includes/brew-single

  script(src='/socket.io/socket.io.js')
  script
    function calculateOpacity(time) {
      // returns diff in milliseconds
      var diff = moment().diff(moment(time));
      // scale according to how old; older than 2h gets minimum 10% opacity
      var maxAge = 1000 * 60 * 60 * 2;
      var ratio = (maxAge - diff) / maxAge;
      ratio = ratio < 0.0 ? 0.0 : ratio;
      if(isNaN(ratio) || ratio > 1.0) {
        return 1.0;
      }
      return (0.8 * ratio) + 0.2;
    }
    function setOpacity(ele) {
      var unixTime = parseInt($(ele).data('created'));
      $(ele).css('opacity', calculateOpacity(unixTime));
    }
    function refreshBrews() {
      $('.brew').each(function(idx, ele) {
        setOpacity(ele);
        var unixTime = parseInt($(ele).data('created'));
        $(ele).find('.relative-time').html(moment(unixTime).fromNow());
      });
    }

    var socket = io.connect();
    socket.on('recentBrews', function(data) {
      $('#brews').html(data);
      refreshBrews();
    });
    socket.on('updateBrew', function(data) {
      var id = $($.parseHTML(data)).attr('id');
      var found = $('#' + id);
      if(found.length) {
        found.replaceWith(data);
      } else {
        $('#brews').prepend(data);
      }
      setOpacity('#' + id);
    });
    socket.on('deleteBrew', function(data) {
      $('#brew-' + data).remove();
    });

    socket.emit('recentBrews');
    window.setInterval(refreshBrews, 30000);
